<h2>WIP: Back to basics in 2024 -- 09/18/2024</h2>

<h3>NOTE WORK IN PROGRESS POST, PROBABLY LOTS OF TYPOS AND MISSPELLED WORDS</h3>

<p>This year has been full of suprises for me. I started a new job at <a href="https://www.selinc.com">SEL</a> ~7 months ago. Now I'm about to join a new company (I got a pretty good offer that I couldn't pass up!) I never could have predicted any of this.</p>

<p>All I do know is this year is the year of C (for me). Getting back to basics and not being so ideological about a particular programming language. Sure C is rough. But it is predictable and it can do anything you want it to. I offers that tight control over the machine that so many find so atractive (me included). I wouldn't say I love programming in C but I think that its a great tool for competent programmers. It translates nicely into asm, and while writing it you have a pretty good handle on what the machine is actually doing.</p>

<p>Something I picked up while programming in C almost exclusively in C this year is the fact that you can (AND ITS OK) to write your own STDLIB. I was especially keen on doing this after reading through some of the code Ryan Fluery had written for the RAD debugger project. Its easy to read, performant, and doesn't make you want to throw your computer or punch someone. You can and should write the tools and utilites that you find yourself wanting. Suffice it to say that you shouldn't judge the value of a language on its standard library, more accuratly you shouldn't put to much stock in it. I'm just thinking that people are over estimating how hard it is to actually write some of this stuff.</p>

<p>Also the code you write for yourself dosen't have to be perfect!! It just needs to do what you need it to do. Its not stdlib code that needs to account and deal with ALL the possible edge cases that undoubtedly your users will run across, becuase you wrote it for your use case! As a consequence your code can be simple and you get to shape the way you interact with a STDLIB because its yours!</p>

<p>Programming this way has been a great experience. I'm no longer interested in jumping on the latest hotness, I just want to use tools that translate nicely to machine code</p>

