<h1>Caffeinated Devlog #1: Introducing "Caffeinated"</h1>

<p>Welcome to the inaugural devlog for my indie game, "Caffeinated."</p>
<p>(More of a smol update)</p>

<h2>Status</h2>

<ul>
    <li><strong>Platform:</strong> Currently Linux, with Windows support planned for the final stages.</li>
    <li><strong>Gaphics:</strong> The game is currently <em>software rendered</em>.</li>
    <li><strong>Capabilities:</strong>
        <ul>
            <li>Draw and scale bitmaps.</li>
            <li>Custom font loading.</li>
        </ul>
    </li>
    <li><strong>Game:</strong> Basic collison and path finding in place</li>
</ul>

<video alt="A cup of coffee chasing a bottle of water" width="300" height="200" controls>
   <source src="/media/caffeinated1.mp4" type="video/mp4">
</video>

<h2>Upcoming Features</h2>
<ol>
    <li><strong>Sound</strong></li>
    <li><strong>Upgrading text renderer:</strong></li>
</ol>
