<h2>I'm an Overwatch 2 Addict -- 08/23/2024</h2>

<p>I've put 528.7 hours into the steam verion of <a
  href="https://overwatch.blizzard.com/en-us/">Overwatch 2</a> I'm absoulutly hooked. I love the
dopamine hit that I get from htting the dash, right-click, meele combo on Genji. I know that I need to quit. Games are great but I honestly don't have the disipline to not play them in an obsesive way. Its really frusterating for me personally because I'm really competative and I want to win. This feeds a vicous cycle of me putting hours into practicing heros (mostly Genji) , and getting ultimate kills with dragon blade</p>
