<h2>I'm an Overwatch 2 Addict -- 08/23/2024</h2>

<p>I've logged over 528 hours on the Steam version of Overwatch 2, and I'm absolutely hooked. The
dopamine rush I get from pulling off Genji’s dash, right-click, and melee combo is addictive.</p>

<video alt="Caleb owning an ash." width="400" height="200" controls>
   <source src="/media/genji_moves.mp4">
</video>

<p>I know I need to quit, but games have such a strong hold on me that I honestly lack the discipline to stop playing.
It’s frustrating because I’m highly competitive and always want to win. My obsessive personality
fuels a vicious cycle where I keep pouring countless hours into the game.</p>

<p>When I step away from my PC, I tend to use my time more wisely. I work on projects, go for runs,
hit the gym, and even socialize. I notice that I feel better after these activities, or at the very
least, I don’t feel as down as I do after playing games.</p>

<p>Balancing being productive and playing games has been an ongoing struggle for me. A few years ago, I almost overcame my video game addiction by selling my PC, but eventually, I built a new one and fell back into old habits. It's a tough
situation because I know the cycle, yet breaking free feels almost impossible.</p>

<p>I'm wanting to travel soon, and looking back, getting rid of my PC was a smart move. I'll
likely sell my current PC. I program on my laptop just fine. I'm usually more productive on it since
I'll be working from locations where the distractions of my computer aren't an issue.</p>

<p>Roughly a year ago I got into streaming my programming sessions, I hope to start that back up
again. I love connecting with people and chatting about all things computer. This is one of the
many things I hope to be able to do after kicking games out of my daily routine.</p>

<p>I'm not giving up games. I just want to have a better relationship with them.</p>


