<h2>I'm an Overwatch 2 Addict -- 08/23/2024</h2>

<p>I've logged over 528 hours in Overwatch 2, finding the thrill of mastering Genji's combo incredibly addictive. Yet, I recognize the need to balance this with real life. While gaming is a blast, it often overshadows my responsibilities and personal growth.</p>

<video alt="Caleb owning an ash." width="400" height="200" controls>
   <source src="/media/genji_moves.mp4">
</video>


<p>Stepping away from my PC, I engage in more productive activities like working on projects, exercising, and socializing. These activities not only make me feel better but also provide a broader sense of satisfaction than gaming alone.</p>

<p>Historically, selling my PC helped me redirect my focus, but I've since rebuilt and found myself back in the gaming loop. However, with travel on the horizon, I'm contemplating this strategy again, knowing my laptop suffices for programming.</p>

<p>About a year ago, I enjoyed streaming my coding sessions, aiming to reconnect with that community. I believe this could be a healthy alternative to gaming, fostering connections and discussing tech.</p>

<p>I'm not looking to abandon games entirely but to foster a healthier relationship with them, allowing them to enhance, not dominate, my life.</p>


