<h2>F**k your commit graph -- 08/02/2024</h2>

<p>During my Sr. year of highschool (2019-2020) I attended a web-dev bootcamp. (Maybe I'll write more on my experience at some point). One nasty habbit that I'd picked up was to "Keep my commit graph green". Honestly just keep it green and push code everyday, thats how you'll get a job (at least that is what was being touted around...)</p>

<p>I mean I can see what they were getting at, practice something every day and you'll likely improve. After all these types of shops are trying to manufacture programmers.</p>

<p>I fully bought into this... I had repositories for 99% of the code I wrote for 3 whole years. A rather insidious side effect that I've discoverd has been not finishing stuff. I was doing silly things like starting 9 seperate repositories in a single month.</p>

<p>So heres the cheese. Quality over quantity, thats what I've learned. Who cares what you barf up on github? Employers certainly don't. Besides you can easily game the system with things like <a href="https://github.com/gelstudios/gitfiti">gelstudios/gitgiti</a>.</p>

<p>To be clear I'm not saying that it's a bad thing to track code. Its just the thinking that you should be super worried about the color of your commit graph becausae that's what will get you a job or something. No. GOOD projects, experience/edcuation is what will get you a job.</p>

<p>So what the heck! Settle down with a code base and build something worth while.</p>