<h2>F**k your commit graph -- 08/02/2024</h2>

<p>During my time at a web-dev bootcamp *shudders*. A nasty habbit that I'd picked up was to "Keep my commit graph green". Honestly just keep it green and push code everyday, thats how you'll get a job (at least that is what was being touted around...)</p>

<p>I mean I can see what they were getting at, practice something every day and you'll likely improve. After all these types of shops are trying to manufacture programmers.</p>

<p>I fully bought into this... I had repositories for 99% of the code I wrote for 3 whole years. A rather insidious side effect that I've discoverd has been not finishing stuff. I was doing silly things like starting 9 seperate repositories in a single month.</p>

<p>I'm also not fully convinced that sharing code like this is all it's cracked up to be. People really aren't all that interested in your SOURCE CODE. Even for major projects you really only ever have a handful of people that actual understand and maintain the codebase. You really should be asking yourself why am I even pushing this code?</p>

<p>To be clear I'm not saying that it's a bad thing to put your code in source control and push it to something like github. Its just the thinking that you should be super worried about the color of your commit graph and what other people think, is what I take issue with.</p>   
