@font-face {
    font-family: "FiraCode-Regular";
    src: url("./assets/fonts/FiraCode-Regular.ttf");
}
@font-face {
    font-family: "FiraCode-Retina";
    src: url("./assets/fonts/FiraCode-Retina.ttf");
}
@font-face {
    font-family: "FiraCode-Bold";
    src: url("./assets/fonts/FiraCode-Bold.ttf");
}
@font-face {
    font-family: "FiraCode-SemiBold";
    src: url("./assets/fonts/FiraCode-SemiBold.ttf");
}
@font-face {
    font-family: "FiraCode-Light";
    src: url("./assets/fonts/FiraCode-Light.ttf");
}

*{
    padding: 0;
    margin: 0;
    background-color: black;
}

body {
    font-family: "FiraCode-Regular";
    color: white;
    font-size: medium;
}

#copyright
{
    text-align: center;
    font-size: small;
    opacity: 0.5;
}

#content
{
    padding: 1%;
}

#changelog h1 {
    margin: 2% 0% 0% 0%;
}

#changelog h2 {
    margin: 2% 0% 0% 0%;
}

#changelog h3{
    margin: 1% 0% 0% 0%;
}

.right-left-margin-container{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}
.fancy-header{
    text-align: center;
}
.navbar{
    text-align: center;
}

.bleah {
    margin: 1em 0em 1em 0em;
}
a {
    color: white;
}
img {
    width: 95%;
    margin: 1em 0em 0em 0em;
}
