:root {
    --off_black: #151717;
}
 
@font-face {
    font-family: "FiraCode-Regular";
    src: url("./assets/fonts/FiraCode-Regular.ttf");
}
@font-face {
    font-family: "FiraCode-Retina";
    src: url("./assets/fonts/FiraCode-Retina.ttf");
}
@font-face {
    font-family: "FiraCode-Bold";
    src: url("./assets/fonts/FiraCode-Bold.ttf");
}
@font-face {
    font-family: "FiraCode-SemiBold";
    src: url("./assets/fonts/FiraCode-SemiBold.ttf");
}
@font-face {
    font-family: "FiraCode-Light";
    src: url("./assets/fonts/FiraCode-Light.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: "FiraCode-Regular";
    color: white;
    font-size: medium;
}

li,p {
    margin-top: 0.5em;
}

ul,p,h1 {
    margin: 1%;
}

#copyright
{
    text-align: center;
    font-size: small;
    opacity: 0.5;
}

#changelog h1 {
    margin: 2% 0% 0% 0%;
}

#changelog h2 {
    margin: 2% 0% 0% 0%;
}

#changelog h3{
    margin: 1% 0% 0% 0%;
}

#activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-left-margin-container{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    border: 1px solid white;
    width: fit-content;
    background-color: var(--off_black);
    text-align: center;
    margin: 0.25em;
}

.fancy-header {
    font-family: "FiraCode-Bold";
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

.navbar{
    text-align: center;
}

.bleah {
    margin: 1em 0em 1em 0em;
}

img {
    width: 100%;
}
a {
    color: white;
}

#hacker-dog-container {
    margin: 1%;
    text-align: center;
}

