<h2>Caleb Barger -- Software Engineer</h2>
<h3>bargercj20@hotmail.com | 208-451-3756 | Moscow, ID</h3> 
<br>

<h5>=====================================</h5>
<h3>Skills:</h3>
<ul>
  <li>Zig | C/C++ | Python | TypeScript/JavaScript | Linear Algebra | SQL | Bash | Linux | Git</li>
</ul>
<h5>=====================================</h5>
<h3>Professional Experience:</h3>
<h4>Game Programmer, Polymorphic Games, Moscow ID June 2023 - Present</h4>
<ul>
  <li>Spearheaded the development, maintenance, and optimization of an in-house large language model aligning with project goals and timelines.</li>
  <li>Leveraged technical expertise to deliver exceptional results, consistently exceeding expectations.</li>
</ul>
<h4>Data Engineer, Lightcast, Moscow ID May 2021 - March 2023</h4>
<ul>
  <li>Developed and maintained high-performance text classification and extraction libraries. (C, Dlang, Python, Linux, and SQL).</li>
  <li>Maintained in-house job postings classifier using Dlang, SQL, and Intel's Hyperscan, contributing directly to company-wide data-driven initiatives.</li>
  <li>Runtime enhancements for a company extractor. (C, SQL)</li>
</ul>

<h5>=====================================</h5>
<h3>Personal Projects:</h3>
<ul>
  <li><a href="https://github.com/cabarger/4zero.git">4zero</a> – Fork of the 4coder text editor, now maintained in Zig</li>
  <ul>
    <li>Overhauled build system ( now less complicated )</li>
    <ul>
      <li>Unified compiler across platforms ( exclusively uses clang )</li>
    </ul>
    <li>Modified the default 4coder bindings from an Emacs style to a more Vim-like set of bindings via a custom zig layer.</li>
  </ul>
  <li><a href="https://cabarger.itch.io/twr-defns">Twr-defns</a> – An isometric tower defense game built with Zig and Raylib.</li>
  <li><a href="/pages/protex.html">Protex</a> – Programmable text extractor built using TypeScript, Zig, and Hyperscan.</li>
  <ul>
    <li>Leverages Intel's Hyperscan for efficient pattern matching.</li>
    <li>Incorporated embedded Python support to allow for some scripting.</li>
    <li>Designed and built a configurable control flow GUI, which integrated with the text extractor API.</li>
  </ul>
</ul>
<h5>=====================================</h5>
<h3>Education:</h3>
<h4>Bachelor of Computer Science, University of Idaho, January 2021 - May 2021, April 2023 - Present</h4>
<ul>
  <li>Relevant coursework</li>
  <ul>
    <li>Data structures and algorithms</li>
    <li>Computer architecture</li>
    <li>Discrete mathematics</li>
  </ul>
</ul>
<h4>Full Stack Web Development (Bootcamp), Bloom Institute of Technology (Remote) January 2020 - March 2021</h4>
<ul>
  <li>Acquired skills in web development using React, and JavaScript.</li>
  <li>Developed backend services using Java and PostgreSQL.</li>
  <li>Gained proficiency in data structures and algorithms using Python.</li>
</ul>

