<h3>Caleb Barger -- Programmer</h3>
<h3>cabarger02@gmail.com | Grangeville, ID</h3>
<h4>C/C++ | Embedded systems | NLP | Linear Algebra | SQL | Linux | Git</h4>
<hr>
<h3>Experience:</h3>
<h4>Cloud Engineer, Full-Time, <a href="https://unanet.com/">Unanet</a>, Remote November 2024 - Present</h4>
<ul>
  <li><a href="/posts/from_scratch_tui-2025-02-09.html">Immediate mode TUI (and command line utility) evectl</a> For communication/management Unanet's cloud deployment system api(s).</li>
</ul>
<h4>Firmware Engineer, Full-Time, <a href="https://selinc.com/">SEL</a>, Pullman WA April 2024 - October 2024</h4>
<ul>
	<li>Build and maintained C/C++ components for an ARM based SOC including:</li>
  <ul>
    <li>A cross core mutex</li>
    <li>An interface for ARM A53's PMU (Performance Monitor Unit)</li>
    <li>A layer 4 network protocol</li>
  </ul>
	<li>Build and maintained an in-house package manager (SELPAC)</li>
</ul>
<h4>Firmware Engineer, Contract, <a href="https://www.baravalight.com/">Barava Light</a>, Moscow ID October 2023 - April 2024</h4>
<ul>
  <li>Developed firmware for ESP32 microcontroller to control the LED interface of the smart lava lamp.</li>
  <li>Implemented animation code to create dynamic visual effects for the lava lamp using the LED matrix.</li>
  <li>Designed and developed a custom scripting language to enable users to easily create and customize animations for the lava lamp.</li>
</ul>
<h4>Game Programmer, Internship, Polymorphic Games, Moscow ID June 2023 - April 2024</h4>
<ul>
  <li>Currently working on <a href="https://github.com/cabarger/small-planet">small planet</a></li>
  <li>Developed core game systems such as resource management, AI behavior, procedural generation, and rendering</li>
</ul>
<h4>Data Engineer, Full-Time, <a href="https://lightcast.io/">Lightcast</a>, Moscow ID May 2021 - March 2023</h4>
<ul>
  <li>Developed, maintained, and shipped high-performance text classification and extraction libraries. (C, Dlang, Python, Linux, and SQL).</li>
  <li>Maintained in-house job postings classifier using Dlang, SQL, and Intel's Hyperscan, contributing directly to company-wide data-driven initiatives.</li>
  <li>Massive optimizations for a company extractor. (C, SQL)</li>
</ul>
<hr>
<h3>Personal Projects:</h3>
<ul>
  <li><a href="https://handmade.network/p/615/cvm/">CVM</a> – ARM64 VM for a handful of instructions.</li>
  <li><a href="https://github.com/cabarger/zeroed.git">Zeroed</a> – Text editor</li>
  <li><a href="https://cabarger.itch.io/twr-defns">Twr-defns</a> – An isometric tower defense game built with Zig and Raylib.</li>
  <li><a href="/pages/protex.html">Protex</a> – Programmable text extractor built using TypeScript, Zig, and Hyperscan.</li>
</ul>
<hr>
<h3>Education:</h3>
<h4>Bachelor of Computer Science (Incomplete), University of Idaho, January 2021 - May 2021, April 2023 - May 2024</h4>
<ul>
  <li>Relevant coursework</li>
  <ul>
    <li>Computer Networking</li>
    <li>System software</li>
    <li>Programming languages</li>
    <li>Data structures and algorithms</li>
    <li>Computer architecture</li>
    <li>Discrete mathematics</li>
  </ul>
</ul>
<h4>Full Stack Web Development (Bootcamp), Bloom Institute of Technology (Remote) January 2020 - March 2021</h4>
<ul>
  <li>Acquired skills in web development using React, and JavaScript.</li>
  <li>Developed backend services using Java and PostgreSQL.</li>
  <li>Gained proficiency in data structures and algorithms using Python.</li>
</ul>

